
.affix {
  position: fixed;
}
.sidebar-nav {
  z-index: 3000;
}
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;

  }

  .sidebar-nav .navbar ul {
    float: none;
      position: absolute;
/*    background-color: black;*/
  }
  .sidebar-nav .navbar ul:not {
    display: block;
/*        background-color: black;*/
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
/*        background-color: black;*/
  }
  .sidebar-nav .navbar li a {
/*    padding-top: 12px;
    padding-bottom: 12px;*/
     z-index: 1000;
    text-align: center;
    padding: 30px 15px;
    background-color: rgba(32, 36, 32, 1);
    color: #f3f3f3;
    font-family: 'Muli', sans-serif;
    font-size: 20px;

  }

.sidebar-nav .navbar li a:hover {
background-color: #9C44D7;

  }
}

